@using Takip.Web.Code;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Takip.Web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>src = "https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"</script>

    <script>
        let TOKEN = "@Repo.Session.Token";
    </script>


    <link rel="stylesheet" href="~/lib/bootstrap/main.css" />
    <link rel="stylesheet" href="~/css/adminlayout.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/Takip.Web.styles.css" asp-append-version="true" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

</head>

<body>
    <header>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container">
                <a class="navbar-brand fw-bold text-light me-auto" id="title" asp-area="Admin" asp-controller="Home" asp-action="Index">KARTANESİ TAKİP SİSTEMİ</a>

                @if (string.IsNullOrEmpty(Repo.Session.Email))
                {
                    <a class="me-3 text-light" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yapın</a>
                }
                else
                {
                    <a class="me-3 bg-primary text-light text-decoration-none rounded" asp-area="Admin" asp-controller="Personnel" asp-action="AccountDetails"><span class="m-3">@Repo.Session.Name</span></a>
                    <a class="me-3 bg-danger text-light text-decoration-none  rounded" asp-area="" asp-controller="Account" asp-action="Logout"><span class="m-3">Çıkış Yap</span></a>

                }

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header background-color-ozel">
                        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Menü</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active fs-5 fw-bold" aria-current="page" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                    <i class="bi bi-house-fill me-2"></i>Ana Sayfa
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active fs-5 fw-bold" aria-current="page" asp-area="Admin" asp-controller="Home" asp-action="Customer">
                                    <i class="bi bi-person-circle me-2"></i>Müşteriler
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active fs-5 fw-bold" aria-current="page" asp-area="Admin" asp-controller="Home" asp-action="Service">
                                    <i class="bi bi-wrench-adjustable me-2"></i>Servis
                                </a>
                            </li>
                            @if (Repo.Session.Role == "Admin")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-pencil-fill me-2"></i>
                                        Admin Menüsü
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Personnel">Personeller</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Product">Ürün Düzenle</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Role">Rol Düzenle</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Category">Kategori Düzenle</a>
                                        </li>



                                    </ul>
                                </li>
                            }

                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Arama" aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search-heart"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        @RenderBody()


    </div>

    <footer class="border-top footer text-muted" id="footerBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mt-2">
                    <div class="single-box">
                        <img class="img-fluid" src="~/img/logo.jpg" />

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mt-2">
                    <div class="single-box">
                        <p class="text-center">Kartanesi Takip Sistemi Ahlatçı yazılım kursu projesi için hazırlanmıştır. Henüz bitmemiş olup, mevcut fonksiyonları çalışmaktadır.</p>
                        <h5 class="text-center text-secondary fw-bold">Mehmet Çağrı Şahinci</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mt-2">
                    <div class="single-box">
                        <h5 class="text-secondary fw-bold">Menü</h5>
                        <ul>
                            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                            <li><a asp-area="Admin" asp-controller="Home" asp-action="Customer">Müşteriler</a></li>
                            <li><a asp-area="Admin" asp-controller="Home" asp-action="Service">Servis</a></li>
                        </ul>
                    </div>
                </div>

                @if (Repo.Session.Role == "Admin")
                {
                    <div class="col-lg-3 col-sm-6 mt-2">
                        <div class="single-box">
                            <h5 class="text-secondary fw-bold">Admin Menüsü</h5>
                            <ul>
                                <li><a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Personnel">Personeller</a></li>
                                <li><a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Product">Ürün Düzenle</a></li>
                                <li><a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Role">Rol Düzenle</a></li>
                                <li><a class="nav-link text-dark ms-3" asp-area="Admin" asp-controller="Home" asp-action="Category">Kategori Düzenle</a></li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-3 col-sm-6 mt-2">
                        <div class="single-box">
                            <h5 class="text-secondary fw-bold">Footer Menüleri</h5>
                            <ul>
                                <li><a href="">Dolu Gözüksün</a></li>
                                <li><a href="">Diye Koyduğum</a></li>
                                <li><a href="">Menüler</a></li>
                            </ul>
                        </div>
                    </div>
                }


            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>