<script src="~/js/admin/accountdetails.js"></script>

<h2 class="mt-5 pt-5">Kullanıcı Bilgileri</h2>

<div class="row">

    <div class="mt-5 col-lg-4 col-md-6 col-sm-6">

        <label for="inputPersonnelName" class="form-label">Kullanıcı Adı</label>
        <input type="text" id="inputPersonnelName" class="form-control">

        <label for="selectRole" class="form-label ">Rol</label>
        <select type="text" id="selectRole" class="form-control" disabled readonly></select>

        <label for="inputTcNumber" class="form-label ">TC Kimlik Numarası</label>
        <input type="text" id="inputTcNumber" class="form-control">
    </div>
    <div class="mt-5 col-lg-4 col-md-6 col-sm-6">

        <label for="inputEmail" class="form-label ">EMail</label>
        <input type="text" id="inputEmail" class="form-control">

        <label for="inputPassword" class="form-label ">Şifre</label>
        <input type="text" id="inputPassword" class="form-control">

        <label for="inputPhoneNumber" class="form-label ">Telefon Numarası</label>
        <input type="text" id="inputPhoneNumber" class="form-control">

    </div>

    <div class="mt-5 col-lg-4 col-md-6 col-sm-6">

        <label for="selectMaritalStatus" class="form-label ">Medeni Durumu</label>
        <select type="text" id="selectMaritalStatus" class="form-select"></select>

        <label for="selectEducation" class="form-label ">Eğitim Durumu</label>
        <select type="text" id="selectEducation" class="form-select"></select>

    </div>

    <div class=" col-lg-6 col-md-6 col-sm-6">
        <button type="button" class="btn btn-primary mt-3" onclick="">Kaydet</button>
    </div>

</div>