<script type="text/javascript" src="~/js/admin/role.js" asp-append-version="true"></script>
<div class="row">
    <div class="p-3 col-12">
        <div>
            <div class="d-inline-flex mt-5 text-center">
                <div>
                    <label for="inputSearch1" class="form-label mt-3 me-3">ID'ye göre</label>
                    <input class="form-control me-3" style="max-width: 150px" type="search" placeholder="" id="inputSearch1" onkeyup='tableSearch(0,"inputSearch1","roleTable")'>
                </div>
                <div>
                    <label for="inputSearch2" class="form-label mt-3 me-3">Rol ismine göre</label>
                    <input class="form-control me-3" style="max-width: 150px" type="search" placeholder="" id="inputSearch2" onkeyup='tableSearch(1,"inputSearch2","roleTable")'>
                </div>
            </div>
        </div>



        <div id="divRoles" class="mt-2">
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="NewRole()">
            Yeni Rol Ekle
        </button>

        <!-- Modal -->
        <div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Rol Bilgileri</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <label for="inputRoleName" class="form-label">Rol Adı</label>
                        <input type="text" id="inputRoleName" class="form-control">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Vazgeç</button>
                        <button type="button" class="btn btn-primary" onclick="SaveRole()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>