<!----------------------- Main Container -------------------------->
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!----------------------- Container -------------------------->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">

        <div class="">
            <div class="row align-items-center">
                <div class="alert alert-danger text-center" role="alert">
                    <h6>Bu sayfayı görüntülemek için yetkili değilsiniz.</h6>

                </div>
                <div class="text-center d-inline-flex align-items-center">
                    <a class="btn btn-success w-50 me-5" tabindex="-1" role="button" aria-disabled="true" asp-controller="Account" asp-action="Login">Giriş Ekranı</a>

                    <a class="btn btn-primary w-50" tabindex="-1" role="button" aria-disabled="true" asp-area="Admin" asp-controller="Home" asp-action="Index">Ana Sayfa</a>


                </div>

            </div>
        </div>

    </div>
</div>